@import url('https://fonts.cdnfonts.com/css/minecraftia');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}
body{
    background-color: #121212;
}
label{
    color: azure;
    font-family: 'Minecraftia', 'sans-serif';
}
h1{
    color: azure;
    font-family: 'Minecraft', 'sans-serif';
    margin-left: 35%;
}
/* img{
    color: azure;
    font-family: 'Minecraft', 'sans-serif';
    font-size: xx-large;
    margin: null;
} */
input{
    color: azure;
    background-color: #121212;
    font-family: 'Minecraftia', 'sans-serif';
}

/*login divisions*/
.loginMenu{
    background-color: #0a0a0a;
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
}
/*chat divisions*/
.topBar{
    background-color: #0a0a0a;
}
.chatBar{
    margin-top: 40%;
    margin-left: 40%;
}
.messageTerminal{
    background-color: #0a0a0a;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.imglogo {
    display: block;
    width: 20%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}